.intro {
    background-color:#f4d069;
    border-style: solid;
    border-color: #1c4c85;
    text-align: center;

}

* {
    background-color: aquamarine;
}

body{
    font-family: sans-serif;
}

img{
    border-style:solid ;
    border-color: #f4d069;
    margin: auto;
    
    
}

#center{
    display: block;
    margin: auto;

}

.gallary{
    display: inline-block;
    border: 5px solid hsl(0, 0%, 60%);
    margin: 10px;
    border: #1c4c85 solid;
    background-color: #f4d069;
}
.gallary:hover{
    border: 5px #1c4c85
    
}


.cabin-sketch-bold { 
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

