.intro {
    background-color:#f4d069;
    border-style: solid;
    border-color: #1c4c85;
    text-align: center;

}

* {
    font-family:sans-serif ;
    src: url(bold);
    background-color: skyblue;
}

.image{
    border-style:solid ;
    border-color: #f4d069;
}

*{
    background-color: aquamarine;
}

#head{
    color: #0482e0;
}

#center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}